@charset "UTF-8";
h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h2,
h3,
p {
  margin: 0;
}

.fa-store {
  color: #9356DC;
}

.fa-solid.fa-arrow-left {
  font-size: 25px;
  color: #000000;
}

.fa-regular.fa-heart {
  font-size: 25px;
  color: #000000;
}

.fa-solid.fa-heart {
  font-size: 25px;
  color: #9356DC;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card__icon, .main-restaurant .restaurant__title .card__icon {
  position: relative;
}

.fa-regular.fa-heart,
.fa-solid.fa-heart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.fa-regular.fa-heart {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.fa-solid.fa-heart {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.card__icon:hover .fa-regular.fa-heart {
  opacity: 0;
}
.card__icon:hover .fa-solid.fa-heart {
  opacity: 1;
}

.plat {
  position: relative;
  overflow: hidden;
  width: 200px; /* Largeur du conteneur du plat */
}
.plat .plat__nom {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px; /* Largeur maximale avant le rognage */
}
.plat .plat__coche {
  position: absolute;
  top: 0;
  right: -20px; /* Initial position - cachée */
  transition: transform 0.3s ease-in-out;
}
.plat:hover .plat__coche {
  transform: translateX(-30px); /* Déplacement lors du survol */
}

.header {
  display: flex;
}
.header__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
.header__logo {
  background-color: #fff;
  justify-content: center;
  padding: 10px 0;
}
.header__logo img {
  width: 162px;
  height: 30px;
}
.header__location {
  display: flex;
  flex-direction: row;
  background-color: #EAEAEA;
  gap: 10px;
  width: 100%;
  justify-content: center;
  padding: 15px 0 15px 0;
}
.header__location__icon {
  width: 12px;
  height: 16px;
}

.btn-function, .main-restaurant .menu-form__btn-function {
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  padding: 13px 18px 13px 18px;
  color: #fff;
  border: none;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.btn-function:hover, .main-restaurant .menu-form__btn-function:hover {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.35);
}

.card {
  gap: 18px;
}
.card__content {
  border-radius: 20px;
  position: relative;
  padding: 15px 0;
  height: 251px;
}
.card__content img {
  width: 100%;
  object-fit: cover;
  height: 180px;
  border-radius: 20px 20px 0 0;
}
.card__buttom {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: space-between;
  padding: 15px;
}
.card__title, .card__subtitle {
  color: #000000;
  text-decoration: none;
  margin: 0px;
  gap: 7px;
}
.card__icon, .main-restaurant .restaurant__title .card__icon {
  padding-right: 20px;
}
.card__badge {
  position: absolute;
  color: #008766;
  background-color: #99E2D0;
  padding: 5px;
  top: 28px;
  right: 12px;
}

.footer {
  display: flex;
  background-color: #353535;
  padding: 22px 25px;
}
.footer__logo img {
  filter: invert(1);
  height: 24px;
}
.footer__logo i {
  padding-right: 11px;
  color: #fff;
}
.footer__link {
  color: #fff;
  text-decoration: none;
}
.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 7px;
  padding: 0px;
}
@media (min-width: 1440px) {
  .footer .footer {
    display: flex;
  }
  .footer .footer__logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  .footer .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.header {
  display: flex;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0px;
}
.header__logo {
  padding-left: 0px;
  margin-right: 40px;
}

.block-title,
.menu-block {
  opacity: 0;
  animation: fadeInAnimation 0.5s forwards;
  animation-delay: 0s;
}

.block-entrees > .block-title,
.block-entrees > .menu-block,
.block-plats > .block-title,
.block-plats > .menu-block,
.block-desserts > .block-title,
.block-desserts > .menu-block {
  opacity: 0;
  animation: fadeInAnimation 0.5s forwards;
  animation-delay: 0.3s;
}
.block-entrees:nth-child(odd) > .menu-block,
.block-plats:nth-child(odd) > .menu-block,
.block-desserts:nth-child(odd) > .menu-block {
  opacity: 0;
  animation: fadeInAnimation 0.5s forwards;
  animation-delay: 0.6s;
}
.block-entrees:nth-child(even) > .menu-block,
.block-plats:nth-child(even) > .menu-block,
.block-desserts:nth-child(even) > .menu-block {
  opacity: 0;
  animation: fadeInAnimation 0.5s forwards;
  animation-delay: 0.9s;
}

.resto-image {
  width: 100%;
  height: 231px;
  overflow: hidden;
}

.resto-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-restaurant {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  gap: 40px;
  padding: 10px 15px 40px 15px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.main-restaurant .restaurant__title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.main-restaurant .restaurant__title .card__icon {
  display: flex;
}
.main-restaurant .restaurant__title h1 {
  padding-top: 20px;
  margin: 0px;
}
.main-restaurant .block-title h2 {
  margin: 0px;
  padding-bottom: 10px;
}
.main-restaurant .block-title h2::after {
  content: "";
  display: block;
  width: 12%;
  height: 3px;
  background-color: #99E2D0;
  margin-top: 5px;
}
.main-restaurant .menu-block {
  display: flex;
  background-color: #fff;
  padding: 0 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.main-restaurant .menu-block__content {
  display: flex;
  flex-direction: column;
}
.main-restaurant .menu-block__content__2 {
  display: flex;
  flex-direction: row;
  gap: 140px;
}
.main-restaurant .menu-form__btn-function {
  display: flex;
  justify-content: center;
  padding: 15px 50px;
  margin: auto;
}/*# sourceMappingURL=restaurant.css.map */