* {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h2,
h3,
p {
  margin: 0;
}

.fa-store {
  color: #9356DC;
}

.fa-solid.fa-arrow-left {
  font-size: 25px;
  color: #000000;
}

.fa-regular.fa-heart {
  font-size: 25px;
  color: #000000;
}

.fa-solid.fa-heart {
  font-size: 25px;
  color: #FF79DA;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card__icon, .main-restaurant .restaurant__title .card__icon {
  position: relative;
}

.fa-regular.fa-heart,
.fa-solid.fa-heart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.fa-regular.fa-heart {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.fa-solid.fa-heart {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.card__icon:hover .fa-regular.fa-heart {
  opacity: 0;
}
.card__icon:hover .fa-solid.fa-heart {
  opacity: 1;
}

.menu-block, .main-restaurant .menu-block {
  position: relative;
  overflow: hidden;
}
.menu-block .menu-block__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  transition: max-width 0.5s ease-in-out;
}
.menu-block .menu-block__title:hover {
  max-width: 10ch;
}
.menu-block .menu-block__icon {
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
  position: absolute;
  right: 0;
}
.menu-block:hover .menu-block__icon {
  transform: translateX(0);
  opacity: 1;
}

.header {
  display: flex;
}
.header__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
.header__logo {
  background-color: #fff;
  justify-content: center;
  padding: 10px 0;
}
.header__logo img {
  width: 162px;
  height: 30px;
}
.header__location {
  display: flex;
  flex-direction: row;
  background-color: #EAEAEA;
  gap: 10px;
  width: 100%;
  justify-content: center;
  padding: 15px 0 15px 0;
}
.header__location__icon {
  width: 12px;
  height: 16px;
}

.btn-function, .main-restaurant .menu-form__btn-function {
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  padding: 13px 18px 13px 18px;
  color: #fff;
  border: none;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.btn-function:hover, .main-restaurant .menu-form__btn-function:hover {
  filter: brightness(1.2);
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.35);
}

.card {
  gap: 18px;
}
.card__content {
  border-radius: 20px;
  position: relative;
  padding: 15px 0;
  height: 251px;
  z-index: 1;
}
.card__content img {
  width: 100%;
  object-fit: cover;
  height: 180px;
  border-radius: 20px 20px 0 0;
  position: relative;
}
.card__content a {
  position: relative;
  text-decoration: none;
  z-index: 3;
}
.card__buttom {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: space-between;
  padding: 15px;
}
.card__title, .card__subtitle {
  color: #000000;
  text-decoration: none;
  margin: 0px;
  gap: 7px;
}
.card__icon, .main-restaurant .restaurant__title .card__icon {
  position: relative;
  padding-right: 20px;
  z-index: 2;
}
.card .card__image-container {
  position: relative;
}
.card__badge {
  position: absolute;
  color: #008766;
  background-color: #99E2D0;
  padding: 5px;
  top: 28px;
  right: 12px;
  z-index: 4;
}

.footer {
  display: flex;
  background-color: #353535;
  padding: 22px 25px;
}
.footer__logo img {
  filter: invert(1);
  height: 24px;
}
.footer__logo i {
  padding-right: 11px;
  color: #fff;
}
.footer__link {
  color: #fff;
  text-decoration: none;
}
.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 7px;
  padding: 0px;
}

@media (min-width: 1440px) {
  .footer {
    display: flex;
    justify-content: flex-end;
  }
  .footer__logo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 75px;
  }
  .footer__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
.header {
  display: flex;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header__logo {
  padding-left: 75px;
}
.header__icon {
  padding: 0 0 5px 15px;
}

@media (min-width: 1440px) {
  .header {
    display: flex;
  }
  .header__container {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  .header__icon {
    display: flex;
  }
  .header__logo {
    padding-right: 50px;
    margin-right: 40px;
  }
}
.block-title,
.menu-block,
.main-restaurant .menu-block {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
  animation-delay: 0s;
}

.block-entrees > .block-title,
.block-entrees > .menu-block,
.block-plats > .block-title,
.block-plats > .menu-block,
.block-desserts > .block-title,
.block-desserts > .menu-block {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
  animation-delay: 1s;
}
.block-entrees:nth-child(odd) > .menu-block,
.block-plats:nth-child(odd) > .menu-block,
.block-desserts:nth-child(odd) > .menu-block {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
  animation-delay: 2s;
}
.block-entrees:nth-child(even) > .menu-block,
.block-plats:nth-child(even) > .menu-block,
.block-desserts:nth-child(even) > .menu-block {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
  animation-delay: 3s;
}

.resto-image {
  width: 100%;
  height: 231px;
  overflow: hidden;
}

.resto-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.resto-image {
  z-index: 1;
  position: relative;
}

.main-restaurant {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  gap: 40px;
  padding: 40px 15px 40px 15px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  z-index: 3;
  position: relative;
  margin-top: -40px;
}
.main-restaurant .restaurant__title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.main-restaurant .restaurant__title .card__icon {
  display: flex;
  margin-bottom: 25px;
}
.main-restaurant .restaurant__title h1 {
  font-weight: unset;
  margin: 0px;
  font-family: "Shrikhand", sans-serif;
}
.main-restaurant .block-title h2 {
  margin: 0px;
  padding-bottom: 10px;
}
.main-restaurant .block-title h2::after {
  content: "";
  display: block;
  width: 12%;
  height: 3px;
  background-color: #99E2D0;
  margin-top: 5px;
}
.main-restaurant .menu-block {
  display: flex;
  background-color: #fff;
  padding: 10px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.main-restaurant .menu-block__content {
  display: flex;
  flex-direction: column;
}
.main-restaurant .menu-block__content__2 {
  display: flex;
  flex-direction: row;
}
.main-restaurant .menu-form__btn-function {
  display: flex;
  justify-content: center;
  padding: 15px 50px;
  margin: auto;
}

@media (min-width: 1440px) {
  .main-restaurant {
    z-index: 3;
    position: relative;
    margin: -40px 190px 2px;
    padding: 0 200px 30px;
  }
  .block-title h2::after {
    width: 4%;
  }
  .resto-image {
    z-index: 1;
    position: relative;
  }
  .restaurant__title {
    margin-inline: auto;
    padding-top: 30px;
  }
  .card__icon, .main-restaurant .restaurant__title .card__icon {
    margin-left: 20px;
  }
}/*# sourceMappingURL=restaurant.css.map */