h1 {
  font-family: "Shrikhand", sans-serif;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h2,
h3,
p {
  margin: 0;
}

.fa-store {
  color: #9356DC;
}

.fa-heart {
  position: relative;
  font-size: 24px;
  cursor: pointer;
}
.fa-heart::before, .fa-heart::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  background: red;
  transition: width 0.3s ease-in-out;
}
.fa-heart::before {
  left: 0;
  border-radius: 100% 100% 0 0;
}
.fa-heart::after {
  right: 0;
  border-radius: 100% 100% 0 0;
}
.fa-heart:hover::before, .fa-heart:hover::after {
  width: 100%;
}

.logo {
  color: #fff;
}

.header {
  display: flex;
}
.header__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
.header__logo {
  background-color: #fff;
  justify-content: center;
  padding: 10px 0;
}
.header__logo img {
  width: 162px;
  height: 30px;
}
.header__location {
  display: flex;
  flex-direction: row;
  background-color: #EAEAEA;
  gap: 10px;
  width: 100%;
  justify-content: center;
  padding: 15px 0 15px 0;
}
.header__location__icon {
  width: 12px;
  height: 16px;
}

.btn-function, .main-restaurant .menu-form {
  border-radius: 25px;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  padding: 13px 18px 13px 18px;
  color: #fff;
  border: none;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.btn-function:hover, .main-restaurant .menu-form:hover {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
}

.card {
  gap: 18px;
}
.card__content {
  border-radius: 20px;
  position: relative;
  padding: 15px 0;
  height: 251px;
}
.card__content img {
  width: 100%;
  object-fit: cover;
  height: 180px;
  border-radius: 20px 20px 0 0;
}
.card__title, .card__subtitle {
  color: #000000;
  text-decoration: none;
  margin: 0px;
  gap: 7px;
}
.card__buttom {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.card__badge {
  position: absolute;
  color: #008766;
  background-color: #99E2D0;
  padding: 5px;
  top: 28px;
  right: 12px;
}
.card__text {
  display: flex;
  flex-direction: column;
}
.card__icone {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  background-color: #353535;
  padding: 22px 25px;
}
.footer__logo img {
  filter: invert(1);
  height: 24px;
}
.footer__logo i {
  padding-right: 11px;
  color: #fff;
}
.footer__link {
  color: #fff;
  text-decoration: none;
}
.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 7px;
  padding: 0px;
}
@media (min-width: 1440px) {
  .footer .footer {
    display: flex;
  }
  .footer .footer__logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  .footer .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.header {
  display: flex;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.header__icon .fa-solid.fa-arrow-left {
  font-size: 25px;
}
.header__logo {
  padding-left: 0px;
}

.resto-image {
  width: 100%;
  height: 231px;
  overflow: hidden;
}

.resto-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-restaurant {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  gap: 40px;
  padding: 10px 15px 40px 15px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.main-restaurant .restaurant__title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.main-restaurant .restaurant__title h1 {
  padding-top: 20px;
  margin: 0px;
}
.main-restaurant .restaurant__title__icon .fa-regular.fa-heart {
  font-size: 25px !important;
}
.main-restaurant .block-title h2 {
  margin: 0px;
  padding-bottom: 10px;
}
.main-restaurant .block-title h2::after {
  content: "";
  display: block;
  width: 12%;
  height: 3px;
  background-color: #99E2D0;
  margin-top: 5px;
}
.main-restaurant .menu-block {
  display: flex;
  background-color: #fff;
  padding: 0 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.main-restaurant .menu-block__content {
  display: flex;
  flex-direction: column;
}
.main-restaurant .menu-block__content__2 {
  display: flex;
  flex-direction: row;
  gap: 140px;
}/*# sourceMappingURL=restaurant.css.map */