.btn-function {
    border-radius: 25px;
    background-image: $btn-gradient-1;
    padding: 13px 18px 13px 18px;
    color: $white;
    border: none;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);

    &:hover {
        background-image: $btn-gradient-2;
    }
}