.footer {
    display: flex;
    background-color: $footer-color;
    padding: 22px 25px;
  
    &__logo {
      img {
        filter: invert(1);
        height: 24px;
      }
  
      i {
        padding-right: 11px;
        color: var(--white);
      }
    }
  
    &__link {
      color: var(--white);
      text-decoration: none;    
    }
  
    &__list {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 7px;
      padding: 0px;
  
    }
  }


