.card {
    gap: 18px;

    &__content {
        border-radius: 20px;
        position: relative; 
        padding: 15px 0;
        height: 251px;
        
        img {
            width: 100%;
            object-fit: cover;
            height: 180px;
            border-radius: 20px 20px 0 0;
        }
    }
    
    &__title, &__subtitle {
        color: $black;
        text-decoration: none;
        margin: 0px;
        gap: 7px;
    }
    
    &__buttom { 
        background-color: $white;
        display: flex;
        flex-direction: row;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
    }

    &__badge {
        position: absolute;
        color: $green-2;
        background-color: $green-1;
        padding: 5px;
        top: 28px; 
        right: 12px;
    }

    &__text { 
        display: flex;
        flex-direction: column;
    }
    &__icon { 
        display: flex;
        flex-direction: column;   

    }
  }

  