@import "../utils/variables";
@import "../utils/base";
@import "../utils/mixins";
@import "../components/header";
@import "../components/btn-function";
@import "../components/resto-card";
@import "../components/footer";

// Style LOADER ................................................//

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('../assets/images/loader/eiliv-aceron-ZuIDLSz3XLg-unsplash.jpg'); 
  background-size: cover; 
  opacity: 1;
  z-index: 9999; 
  animation: fadeOut 3s forwards; 
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden; 
  }
}

@media (min-width: $breakpoint) {

  .loader {
    height: 130vh; 
  }
}

// Style HEADER ................................................//



// Style for Filters Section ..................................//


.filter-section { 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg-color;
  padding: 50px 0;
  
  .filter__text {
    text-align: center; 
    margin-bottom: 25px;

    .filter-title__title {
      margin: 0 0 15px 0;
      .h1 {
        font-family: 'Roboto',sans-serif;
        font-weight: bold;
      }
    }

    .filter-title__subtitle {
      padding: 0 15px;
    }
  }
  
  &__btn-function {
    text-align: center;
      @extend .btn-function;
  }
  @media (min-width: $breakpoint) {
    .filter-section {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 25px 0;
    }
  }
}

// Style for Navigation ............................................//


.nav-section {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;

  &__title {
    margin-bottom: 0;
  }
  
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    gap: 15px;
  }
    &__list a {
      text-decoration: none;
      color: $black;
      font-weight: bold;
      list-style: none;
    }
  
  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 25px;
    gap: 20px;
    background-color: $bg-color;
    border-radius: 25px; 
    margin-bottom: 10px; 
    box-sizing: border-box; 
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15); 
    counter-increment: item-counter; 

  
    &::before {
      content: counter(item-counter);
      counter-reset: 1;
      counter-increment: item;
      background-color: $primary-color;
      color: $white;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      margin-left: -20px;
    } 
  }
  @media (min-width: $breakpoint) {
    .nav-section{
      display: flex;

      &__item {
        display: flex;
        flex-direction: row;
      }
    }
  }
}







// Style for Cards Section ........................................//


.cards-section {
  background-color: $bg-color;
  padding: 40px 15px;

  .cards-section-title {
    h2 {
      margin-bottom: 20px;
    }
    
  }

  &__cards {
    @extend .card;
  } 

  @media (min-width: $breakpoint) {
    .card {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      

    

    }

  }

}




