@import "../utils/variables";
@import "../utils/base";
@import "../utils/mixins";
@import "../components/header";
@import "../components/main-btn";
@import "../components/btn-function";
@import "../components/resto-card";
@import "../components/footer";

.resto-image {
    width: 100%;
    height: 231px;
    overflow: hidden; /* Pour éviter que l'image dépasse la hauteur définie */
  }
  
  .resto-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pour conserver les proportions et couvrir la hauteur définie */
  }
  

