* {
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 1440px;
  font-size: 16px;
  margin: auto;
  padding: 0;
}

h2,
h3,
p {
  margin: 0;
}

.fa-store {
  color: $primary-color;
}

.fa-solid.fa-arrow-left {
  font-size: 25px;
  color: $black;
}

.fa-regular.fa-heart {
  font-size: 25px;
  color: $black;
}

.fa-solid.fa-heart {
  font-size: 25px;

  /* Crée le dégradé */
  background-image: $btn-gradient-1;
  background-size: 100%;

  /* Utilise l'icône comme masque pour le dégradé */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.fa-regular.fa-circle-check {
  font-size: 25px;
}
