
h1 {
  font-family: 'Shrikhand', sans-serif;
}



* {
    font-family: 'Roboto', sans-serif;
  }

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h2,
h3,
p {
  margin: 0;
}

.fa-store { 
  color: $primary-color;
}

.fa-solid.fa-arrow-left {
  font-size: 25px;
}

.fa-regular.fa-heart {
  font-size: 25px;
  color: $black;
}