

// Style for heart icon transition...................................//
.fa-regular {
  cursor: pointer;
  
  &::before,
  &::after {
    content: '';
    width: 50%;
    height: 100%;
    top: 0;
    transition: height 0.5s ease-in-out; 
  }
  
  &::before {
    left: 0;
    border-radius: 100% 100% 0 0;
  }
  
  &::after {
    right: 0;
    border-radius: 100% 100% 0 0;
  }
  
  &:hover {
    &::before,
    &::after {
      height: 100%;
    }
  }
}
