// style fading transition of menu pages..............................//

@mixin fadeIn($delay) {
  opacity: 0;
  animation: fadeInAnimation $transition-duration forwards;
  animation-delay: $delay;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




// Style for heart icon transition...................................//

.card__icon {
  position: relative;
  }

  .fa-regular.fa-heart,
  .fa-solid.fa-heart {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
  }
  
  .fa-regular.fa-heart {
      opacity: 1;
      transition: opacity 1.5s ease-in-out;
  }
  
  .fa-solid.fa-heart {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
  }
  
  .card__icon:hover {
    .fa-regular.fa-heart {
      opacity: 0;
    }
    .fa-solid.fa-heart {
      opacity: 1;
  }
} 

// Style Add Dish ..................................//



