// style fading transition of menu pages..............................//

@mixin fadeIn($delay) {
  opacity: 0;
  animation: fadeInAnimation $transition-duration forwards;
  animation-delay: $delay;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




// Style for heart icon transition...................................//

.card__icon {
  position: relative;
  }

  .fa-regular.fa-heart,
  .fa-solid.fa-heart {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
  }
  
  .fa-regular.fa-heart {
      opacity: 1;
      transition: opacity 1.5s ease-in-out;
  }
  
  .fa-solid.fa-heart {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
  }
  
  .card__icon:hover {
    .fa-regular.fa-heart {
      opacity: 0;
    }
    .fa-solid.fa-heart {
      opacity: 1;
  }
} 

// Style Add Dish ..................................//

.plat {
  position: relative;
  overflow: hidden;
  width: 200px; /* Largeur du conteneur du plat */

  .plat__nom {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px; /* Largeur maximale avant le rognage */
  }

  .plat__coche {
    position: absolute;
    top: 0;
    right: -20px; /* Initial position - cachée */
    transition: transform 0.3s ease-in-out;
  }

  &:hover .plat__coche {
    transform: translateX(-30px); /* Déplacement lors du survol */
  }
}

