$primary-color: #9356DC;
$footer-color: #353535;
$bg-color: #F6F6F6;
$grey: #353535;
$grey-2: #EAEAEA;
$white: #fff;
$black: #000000;
$btn-gradient: linear-gradient(193 deg, #9356DC -11,44%, #FF79 123.93%);
$green-1: #99E2D0;
$green-2: #008766;
$blue-1: #89C8FA;
$blue-2: #003A68;
