$primary-color: #9356DC;
$footer-color: #353535;
$bg-color: #F6F6F6;
$grey: #353535;
$grey-2: #EAEAEA;
$white: #fff;
$black: #000000;
$btn-gradient-1: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
$btn-gradient-2: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
$green-1: #99E2D0;
$green-2: #008766;
$blue-1: #89C8FA;
$blue-2: #003A68;


